.footer {
    background-image: linear-gradient(to right, #0F2027, #203A43, #2c5364);
    margin-top: 3.5rem;

    .padreLogoLinkedin .col {
        display: flex;
        justify-content: flex-end;

        .logoFooter {
            width: 4rem;
            margin: 2rem;
        }
        .logoFooter:hover{
            transform: rotate(360deg);
            transition: .5s;
            
        }
    }

    .padreLogoLinkedin .github {
        display: flex;
        justify-content: flex-start;
    }
}