
.skillBox{
    border: .2rem solid #0f0c80;
    border-radius: 4rem;
    width: 75%;
    box-shadow: .5rem .5rem 1.5rem .5rem black;
    margin-bottom: 4rem;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #141e30);
    

    .images{
        margin: 2rem;
    }
    .images:hover{
        transform: scale(1.3);
        transition: 1s;
        border-radius: 1rem;
    }
}